<div class="row">
	  <div class="col s12 center">
		<h2>Contact the Chess Camps</h2>

        <p><%= link_to "about page", about_path %>, contact info:</p>

		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Maryam Al-Maadeed</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("mamaadee@qatar.cmu.edu", "Maryam Al-Maadeed", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>45353356</td>
			</tr>
		</table>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>